name: CI

on:
  pull_request:
  push:
    branches: [main, 'dev-*']

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Run prek
        uses: ./

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: "Test | ${{ matrix.os }}"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Test | ${{ matrix.os }} | no extra-args
        uses: ./

      - name: Test | ${{ matrix.os }} | extra-args
        uses: ./
        with:
          extra-args: '--hook-stage pre-commit --verbose'

      - name: Test | ${{ matrix.os }} | extra-args with CJK characters
        uses: ./
        with:
          extra-args: '--files 中文'

      - name: Test | ${{ matrix.os }} | extra-args with quoted string (with spaces)
        uses: ./
        with:
          extra-args: '--files "file with spaces.txt"'

      - name: Test | ${{ matrix.os }} | pin prek version
        uses: ./
        with:
          prek-version: '0.2.30'

  ecosystem-cpython:
    name: "ecosystem | cpython"
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Checkout python/cpython
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: python/cpython
          ref: f3759d21dd5e6510361d7409a1df53f35ebd9a58
          path: cpython
          fetch-depth: 1
          persist-credentials: false

      - name: Run prek on cpython
        uses: ./
        with:
          working-directory: ./cpython
